{% extends 'base.html' %}

{% block meta %}

    <title>Login</title>

{% endblock meta %}

{% block content %}

<div class = "login">

    <div class="containerL">
        <div class="formL">
            <form method="POST" action="">
                {% csrf_token %}
                <br>
                <table id = "login">
                    <tr>
                        <td>Username: <input class="inputL" type="text" name="username" placeholder="Username" class="form-control"></td>
                    </tr>

                    <tr>
                        <td>Password: <input class="inputL" type="password" name="password" placeholder="Password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><input class="login_btn" type="submit" value="Login"></td>
                    </tr>
                </table>
            </form> 
            {% if messages %}
                <ul class = "messageL">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} 
            
            <br>
            <p class = "p"> Don't have an account yet? <a href="{% url 'todolist:register' %}">Create account</a></p>
        </div>
    </div>


</div>

{% endblock content %}