{% extends 'base.html' %}

{% block meta %}

<title>Registrasi Akun</title>

{% endblock meta %}

{% block content %}  

    <div class = "register"> 
        <div class = "containerR">
            <div class = "formR">
                <form method="POST" >  
                    {% csrf_token %}  
                    <br></br> 
                    {% for field in form %}
                    <div>
                        <div class = "inputR">{{ field.label_tag }} {{ field }}</div>
                        <div class = "inputR" id="help">{{ field.help_text }}</div>
                        <br>
                    </div>
                    <div class = "messageR">{{  field.errors }}</div>
                    {% endfor %}
                    <input class ="daftar_btn" type="submit" value="Register">           
                </form>
                <br>
                <p class = "p"> Already have an account? <a href="{% url 'todolist:login' %}">Login here!</a></p>
            </div>
        </div>

    </div>  

{% endblock content %}