{% extends 'base.html' %}

 {% block content %}

  <style>
  table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border:  solid #82a08a;
    padding: 8px;
  }

  th {
    color: white;
  }

  tr:first-child {
    background-color:  #3f624c;
  }

  h1, h2, h3 {
    text-align: center;
    font: bold
  }

  h3 {
    margin-left: 5px;
  }

  body {
    background-color:#dde3dd ;
    font-family: Helvetica;
  }

  .button{
    text-align: center;
  }

  button {
    width: 12%;
    margin-top: auto;
    margin-bottom: auto;        
    margin-left: auto;
    margin-right: auto;
    background-color: #d28542;
    padding: 5px;
    border-radius: 15px;
    color: white;
    font: bold;
    font-size: 15px;
  }

  button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .ans {
    color: black;
    padding: 1%;
  }

  .btn-ans {
    width: 70%;
    font-size: 15px;
    background-color: #a3bbaf;
    border-radius: 5px;
  }

  .message {
    font: bold;
    color: red;
  }

  </style>

  <body>

  <h1>To Do List Generator</h1>

  <h3>Tugas 4 Assignment PBP/PBD</h3>

  <h2>Welcome {{username}}!</h2>

  <div class = "button">
    <button><a href="{% url 'todolist:create-task' %}">Create Task</a></button>
    <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
  </div>

  <br>
  <table style="width:100%">
    <tr>
      <th>Date</th>
      <th>Title Task</th>
      <th>Description</th>
      <th>Status</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for list in data_todolist %}
        <tr>
            <th class="ans" style="width:10%">{{list.date}}</th>
            <th class="ans" style="width:12%">{{list.title}}</th>
            <th class="ans" style="width:28%">{{list.description}}</th>
            {% if list.is_finished %}
                <th class="ans" style="width:15%">Finished</th>
                <th class="ans" style="width:8%">
                    <button class="btn-ans"><a href="{% url 'todolist:update_status' list.id %}">Undone</a></button>
                </th>
            {% else %}
                <th class="ans" style="width:15%">Not finished yet</th>
                <th class="ans" style="width:8%">
                    <button class="btn-ans"><a href="{% url 'todolist:update_status' list.id %}">Done</a></button>
                </th>
            {% endif %}
            <th class="ans" style="width:8%">
                <button class="btn-ans"><a href="{% url 'todolist:delete' list.id %}">Delete</a></button>
            </th>
        </tr>
    {% endfor %}
  </table>

  {% if messages %}  
        <ul class = "message">   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
  {% endif %}

</body>

{% endblock content%}
