{% extends 'base.html' %}

{% block meta %}

    <title> Home </title>

{% endblock meta %}

 {% block content %}

    <nav class="navbar">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Welcome {{username}}! </span>
          <div class="d-flex" >
            <button class="btn btn-outline-success me-2" type="button"><a href="{% url 'todolist:logout' %}">Logout</a></button>
          </div>
        </div>
    </nav>

    <br>
    <h2>To Do List Generator</h2>
    <p class = "p">Tugas 4 Assignment PBP/PBD</p>

    <br>

    <div class = "button">
        <button class = btn-create><a href="{% url 'todolist:create-task' %}">Create Task</a></button>
    </div>

    {% if messages %}  
            <ul class = "messageT">   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
    {% endif %}


    <div class="d-flex flex-wrap justify-content-center">
        {% for list in data_todolist %}
        <div class="card shadow p-3 mb-5 bg-body rounded mx-3 my-4 mouse">
            <div class="card" style="width: 19rem; height: 100%;">
                <div class="card-body">
                    <div >
                        {% if list.is_finished %}
                            <button id ="btn-ans"><a href="{% url 'todolist:update_status' list.id %}">Finished</a></button>
                        {% else %}
                            <button id ="btn-ans"><a href="{% url 'todolist:update_status' list.id %}">Haven't Finish</a></button>
                        {% endif %}
                            <button id ="btn-ans"><a href="{% url 'todolist:delete' list.id %}">Delete</a></button>
                    </div>
                    <br>
                    <small class="card-subtitle mb-2 text-muted">{{list.date}}</small>
                    <h5 class="card-title">{{list.title}}</h5>
                    <p class="card-text tex-truncate">{{list.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</body>

{% endblock content%}
