{% extends 'base.html' %}

{% block meta %}

    <style>
        #btnA {
        width: 120px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: #d28542;
        padding: 5px 15px;
        border-radius: 15px;
        color: white;
        font: bold;
        font-size: 15px;
    }

        #btnA:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
        
    </style>

    <title> Home </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    
        function load(data) {
            let card = ``;
    
            for (let i of data) {

                let is_finished_status = i.fields.is_finished ? "Finished" : "Haven't Finish"

                card += `
                    <div id="${i.pk}" class="card shadow p-3 mb-5 bg-body rounded mx-3 my-4 mouse">
                        <div class="card" style="width: 19rem; height: 100%;">
                            <div class="card-body">
                                <div>
                                    <button id ="btn-ans"><a href="/todolist/update_status/${i.pk}">${is_finished_status}</a></button>
                                    <button id ="btn-ans" onclick= "delete_task(${i.pk})">Delete</button>
                                </div>
                                <br>
                                <small class="card-subtitle mb-2 text-muted">${i.fields.date}</small>
                                <h5 class="card-title">${i.fields.title}</h5>
                                <p class="card-text tex-truncate">${i.fields.description}</p>
                            </div>
                        </div>
                    </div>
                `;
            }
    
            document.getElementById("make-card").innerHTML = card;
        }

        function refresh() {
            $.get("{% url 'todolist:json' %}", function (data) {
                load(data);
            });
        }
     
        $(document).ready(function () {
            refresh();
        });

        function submitTask() {
            $.ajax({
                type: "POST",
                url: "{% url 'todolist:add-task' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    title: $("#title").val(),
                    description: $("#description").val(),
                },
                dataType: "json",
                success: function () {
                    refresh();
                    $("#addModal").modal('hide')
                    document.getElementById("title").value = "";
                    document.getElementById("description").value = "";
                },
            });
        }
        
        function delete_task(id){
            $.ajax({
                type: "GET",
                url: "/todolist/delete-task/" + id,
                data: {csrfmiddlewaretoken: "{{ csrf_token }}"},
                dataType: "json",
                success: function () {
                    refresh();
                }
            })
        }
    
    </script>

{% endblock meta %}

{% block content %}

    <nav class="navbar">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Welcome {{username}}! </span>
          <div class="d-flex" >
            <button class="btn btn-outline-success me-2" type="button"><a href="{% url 'todolist:logout' %}">Logout</a></button>
          </div>
        </div>
    </nav>

    <br>
    <h2>To Do List Generator</h2>
    <p class = "p">Tugas 4 Assignment PBP/PBD</p>

    <br>

    <div class = "button">
        <button type="button" class = btn-create data-bs-toggle="modal" data-bs-target="#addModal">Add Task</button>
    </div>

    <br>

    {% if messages %}  
    <ul class = "messageT">   
        {% for message in messages %}  
            <li>{{ message }}</li>  
            {% endfor %}  
    </ul>   
    {% endif %}

    <div class="d-flex flex-wrap justify-content-center" id="make-card"></div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
            </div>
            <div class="modal-body">
              <form id="formA" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Title:</label>
                  <input type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  <textarea class="form-control" id="description"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button id="btnA" type="submit" value="Submit" onclick="submitTask()">Submit</button>
            </div>
          </div>
        </div>
    </div>

{% endblock content%}