{% extends 'base.html' %}

 {% block content %}

  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:first-child {
    background-color: #dddddd;
  }
  </style>

  <h1>Lab 1 Assignment PBP/PBD</h1>

  <h3>Name: {{nama}}</h3>

  <h3>Student ID: {{npm}}</h3>

  <table style="width:100%">
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.item_name}}</th>
        <th>{{barang.item_price}}</th>
        <th>{{barang.item_stock}}</th>
        <th>{{barang.rating}}</th>
        <th>{{barang.description}}</th>
        <th><a href = " {{barang.item_url}} ">Click untuk melihat barang!</a></th>
    </tr>
    {% endfor %}
  </table>

  {% endblock content%}
